.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: start;

  background-color: var(--sci-darken-color);

  transition: 0.15s ease-in-out;
  transition-property: opacity;

  > .modal {
    top: 200px;
    max-height: 100%;
    overflow: auto;
    box-sizing: border-box;

    transition: 0.15s ease-in-out;
    transition-property: transform;

    &[variant="medium"] {
      width: 600px;
    }

    @media (max-width: 599px) {
      top: 0;
    }
  }

  &[status="opening"],
  &[status="opened"] {
    opacity: 1;

    > .modal {
      transform: translateY(0px);
    }
  }

  &[status="closing"],
  &[status="closed"] {
    opacity: 0;

    > .modal {
      transform: translateY(-10px);
    }
  }
}
