.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: start;

  background-color: var(--sci-darken-color);

  opacity: 0;
  transition: 0.15s ease-in-out;
  transition-property: opacity;

  > .modal {
    top: 200px;
    max-height: 100%;
    overflow: auto;
    box-sizing: border-box;

    transform: translateY(-10px);
    transition: 0.15s ease-in-out;
    transition-property: transform;

    &[variant="small"] {
      width: 600px;
    }

    &[variant="medium"] {
      width: 800px;
    }

    &[variant="large"] {
      width: 1000px;
    }

    @media (max-width: 599px) {
      top: 0;
    }
  }

  &[opened="true"] {
    opacity: 1;

    > .modal {
      transform: translateY(0px);
    }
  }
}
