.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  position: absolute;
  top: 30%;
  left: 50%;

  transform: translate(-50%, 0);
}

.modal[variant="medium"] {
  width: 600px;
}
