{
    "plugins": [
      ["module-resolver", {
        "alias": {
          "@salte-ci": "./",
          "@salte-auth/oauth": "./src/salte-oauth/"
        }
      }],
      "@babel/plugin-proposal-class-properties",
      ["@babel/plugin-proposal-decorators", {
        "decoratorsBeforeExport": true
      }]
    ],
    "env": {
      "test": {
        "plugins": [
          ["istanbul", {
            "exclude": [
              "tests/",
              ".karma-parcel/"
            ]
          }]
        ]
      }
    }
  }
