# Operating System Files
.DS_STORE

# NodeJS / Yarn
node_modules/
npm-debug.log
yarn-error.log

# Editors
.vscode/

# ParcelJS
dist/

# ParcelJS 1.x
.cache/

# ParcelJS 2+
.parcel-cache/

# Terraform
.terraform/

# For some reason Parcel / PostCSS is generating this file. :(
index.html.json
**/*.css.json

# Coverage
coverage/
