.page {
  background: rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 6px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid > * {
  margin: 5px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards > * {
  flex: 1;
  margin: 10px;
  min-width: calc(33% - 60px);
}
