.button {
  display: inline-flex;
  font-size: 15px;
  font-weight: 300;
  position: relative;
  border-radius: 6px;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  outline: none;

  height: var(--sci-button-height);

  &[large="false"] {
    --sci-button-height: 40px;
    --sci-button-padding: 10px;
  }

  &[large="true"] {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;

    --sci-button-height: 50px;
    --sci-button-padding: 20px;
  }

  &[rounded="true"] {
    border-radius: calc(var(--sci-button-height) / 2);
  }

  > .shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 2px;
    border-radius: inherit;

    box-shadow: 0px 2px 0px 0px var(--sci-darken-color), 0px 2px 0px 0px var(--sci-button-background-color);

    transition: 0.05s ease-in-out;
    transition-property: box-shadow;
  }

  > .content {
    margin-bottom: 2px;
    border-radius: inherit;
    padding: 0 10px;
    color: var(--sci-button-color);
    background-color: var(--sci-button-background-color);
    padding: 0 var(--sci-button-padding);

    transition: 0.05s ease-in-out;
    transition-property: transform, color, background-color;
  }

  &[icon="true"] > .content {
    padding-left: 5px;

    > .icon:first-child:nth-last-child(1) {
      margin-right: -15px;
    }
  }

  &:not([disabled]):active > .content {
    transform: translateY(2px);
  }

  &[disabled] {
    cursor: not-disabled;
  }
}
