.card {
  --sci-card-top-border: 10px;

  position: relative;
  border-radius: 6px;
  padding: 20px;
  border-top: var(--sci-card-top-border) solid var(--sci-card-accent-color);

  &:before {
    content: '';
    position: absolute;
    top: calc(var(--sci-card-top-border) * -1);
    left: 0;
    right: 0;
    height: var(--sci-card-top-border);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    animation: pulse 2s infinite linear;

    background: transparent;
    transition: 0.15s ease-in-out;
    transition-property: background-color;
  }

  &[loading="true"]:before {
    background: white;
  }

  &[embed="false"] {
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.4);
    /* padding: 20px; */
    background-color: var(--sci-white-color);
  }

  &[embed="true"] {
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.4) inset;
    /* padding: 8px; */
    background-color: var(--sci-secondary-color);
  }

  > .hover {
    cursor: pointer;
    position: absolute;
    margin-bottom: 0 !important;
    top: -10px;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--sci-primary-color);
    border-radius: inherit;

    opacity: 0;
    transition: 0.15s ease-in-out;
    transition-property: opacity;

    &:hover {
      opacity: 0.1;
    }
  }
}

@keyframes pulse {
  0% { opacity: 0; }
  50% { opacity: 0.4; }
  100% { opacity: 0; }
}
