.terminal {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
}

.menu {
  display: flex;
  padding: 0 6px;
  height: 25px;
  background: -webkit-linear-gradient(top, rgb(235, 235, 235), rgb(213, 213, 213));
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}

.close,
.minimize,
.zoom {
  position: relative;
  top: 6px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 1px solid;
  cursor: pointer;
  box-sizing: border-box;
  margin-right: 5px;
}

.close::before, .minimize::before, .zoom::before {
  content: '';
  position: absolute;
  border-radius: inherit;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
  opacity: 0;
  background: white;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.close:hover::before, .minimize:hover::before, .zoom:hover::before {
  opacity: 0.5;
}

.close {
  position: relative;
  background-color: rgb(255, 92, 92);
  border-color: rgb(227, 62, 65);
}

.minimize {
  background-color: rgb(255, 189, 76);
  border-color: rgb(224, 158, 62);
}

.zoom {
  background-color: rgb(0, 202, 86);
  border-color: rgb(20, 174, 70);
}

.content {
  white-space: pre-wrap;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  font-family: 'Roboto Mono', monospace;
  padding: 15px;

  background-color: var(--sci-primary-color);
  color: var(--sci-white-color);
}
