.grid {
  display: flex;

  > .innerGrid {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }

  &[direction="column"] > .innerGrid {
    flex-direction: column;

    > *:not(:last-child) {
      margin-bottom: var(--sci-grid-spacing);
    }
  }

  &[direction="row"] > .innerGrid {
    flex-direction: row;

    > *:not(:last-child) {
      margin-right: var(--sci-grid-spacing);
    }

    @media (max-width: 599px) {
      &[responsive="true"] > .innerGrid {
        flex-direction: column;

        > *:not(:last-child) {
          margin-right: 0;
          margin-bottom: var(--sci-grid-spacing);
        }
      }
    }
  }
}
