.grid {
  display: flex;
  flex-wrap: wrap;

  &[direction="column"] {
    flex-direction: column;

    > *:not(:last-child) {
      margin-bottom: var(--sci-grid-spacing);
    }
  }

  &[direction="row"] {
    flex-direction: row;

    > *:not(:last-child) {
      margin-right: var(--sci-grid-spacing);
    }

    @media (max-width: 599px) {
      &[responsive="true"] {
        flex-direction: column;

        > *:not(:last-child) {
          margin-right: 0;
          margin-bottom: var(--sci-grid-spacing);
        }
      }
    }
  }
}
